* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
}

title {
  display: none;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  white-space: wrap;
  word-break: break-word;
}

/*Header*/
header {
  align-items: center;
  width: 100%;
  display: flex;
  background-color: #003d34;
  padding: 24px 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favLogo {
  height: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.navLinks {
  display: flex;
  list-style: none;
  font-size: 24px;
  flex-wrap: wrap;
  gap: 48px;
}

.navLinks a {
  color: #faf0e6;
  transition-duration: 0.3s;
}

.navLinks a:hover {
  transition-duration: 0.3s;
  color: #f8bbd0;
  text-decoration: underline;
}


#imagem_bg {
  width: 100%;
  object-fit: cover;
  line-height: 0;
  display: block;
}

.caixaTexto {
  background-color: #faf0e6;
  padding: 24px 80px;
  text-align: center;
}

.caixaTexto h2 {
  margin: 8px;
  font-size: 32px;
  font-weight: 600;
}

#Fav {
  font-size: 32px;
  color: #003d34;
  transition-duration: 0.3s;
  font-weight: 700;
}

.botao {
  border: none;
  transition-duration: 0.3s;
  padding: 8px 16px;
  border-radius: 15px;
  background-color: #f8bbd0;
  display: flex;
  cursor: pointer;
  color: #003d34;
  font-size: 24px;
  font-weight: 600;
}

.botao:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #e3acbf;
  transition-duration: 0.3s;
}

.botaoLocal {
  margin: 32px auto;
  border: none;
  transition-duration: 0.3s;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 15px;
  background-color: #003d34;
  color: #faf0e6;
  display: flex;
  font-size: 24px;
  gap: 16px;
}

.botaoLocal:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

#procurar{
  height: 24px;
  color: #faf0e6;
}

.imagemCard {
  width: 50%;
  object-fit: cover;
}

.card {
  display: flex;
  background-color: #f8bbd0;
  width: 100%;
}

.selos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selos img {
  filter: saturate(50%);
  height: 100px;
}

.cardTexto {
  padding: 32px;
}

.cardTexto h2 {
  color: #003d34;
  font-size: 48px;
  font-weight: 800;
}

.cardTexto p {
  font-size: 32px;
  font-weight: 600;
}

.rodape {
  background-color: #003d34;
  padding: 48px 80px;
}

.rodape img {
  height: 32px;
}

.rodape h3 {
  margin: 8px;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

/*Google Icons*/
.material-symbols-outlined{
  font-size: auto;
  align-self: center;
}


/*Responsivo para celular*/
@media only screen and (max-width: 480px) {
  header {
    display: block;
    padding: 24px 32px;
  }

  nav {
    display: block;
  }

  .cardTexto h2 {
    font-size: 32px;
  }

  .cardTexto {
    width: 100%;
  }

  #imagem_mck {
    width: 100%;
    object-fit: cover;
  }

  .cardTexto p {
    font-size: 24px;
  }

  .favLogo {
    height: 32px;
    margin: 0 auto;
  }

  .navLinks {
    margin-top: 32px;
    font-size: 24px;
    width: 100%;
    display: block;
  }

  .navLinks li {
    margin-bottom: 8px;
  }

  .card {
    display: block;
  }

  .botao {
    margin-top: 32px;
    font-size: 24px;
  }
}

