* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter';
  }

  .cardapio {
    background-color: #003D34;
    padding:24px ;
  }

  .itens-cardapio{
    display: flex;
    color: #FAF0E6;
    list-style: none;
    justify-content: center;
    gap: 56px;
  }

  .itens-cardapio a{
    text-decoration: none;
    color: #FAF0E6;
    font-size:24px;
  }
 .cards {
    display: flex;
    background-color: #003D34;
    padding:40px ;
    justify-content: center;
  } 
  .cards1{ 
    color:#FAF0E6 ;
    padding: 40px;

  }