* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
}

title {
  display: none;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  white-space: wrap;
  word-break: break-word;
}

header {
  align-items: center;
  width: 100%;
  display: flex;
  background-color: #003d34;
  padding: 24px 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fav_logo {
  transition-duration: 0.3s;
  height: 40px;
}

.fav_logo:hover {
  transition-duration: 0.3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

nav {
  display: flex;
  justify-content: space-around;
}

.nav_links {
  display: flex;
  list-style: none;
  font-size: 24px;
  flex-wrap: wrap;
  gap: 48px;
}

.nav_links a {
  color: #faf0e6;
  transition-duration: 0.3s;
}

.nav_links a:hover {
  transition-duration: 0.3s;
  color: #f8bbd0;
  text-decoration: underline;
}

#imagem_bg {
  width: 100%;
  object-fit: cover;
  line-height: 0;
  display: block;
}

.caixa_texto {
  background-color: #faf0e6;
  padding: 64px 80px;
  text-align: center;
}

.caixa_texto h2 {
  margin: 8px;
  font-size: 32px;
  font-weight: 600;
}

#Fav {
  font-size: 32px;
  color: #003d34;
  transition-duration: 0.3s;
  font-weight: 700;
}

.button {
  border: none;
  transition-duration: 0.3s;
  padding: 8px 16px;
  border-radius: 15px;
  background-color: #f8bbd0;
  display: flex;
  cursor: pointer;
  color: #003d34;
  font-size: 24px;
  font-weight: 600;
}

.button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: #ffcfe0 0px 0px 3px;
  background-color: #ffcfe0;
  transition-duration: 0.3s;
}

.button_local {
  margin: 32px auto;
  border: none;
  transition-duration: 0.3s;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 15px;
  background-color: #003d34;
  color: #faf0e6;
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 24px;
}

.button_local:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.3s;
}

#imagem_mck {
  width: 50%;
  object-fit: cover;
}

.card {
  display: flex;
  background-color: #f8bbd0;
  width: 100%;
}

.selos {
  display: flex;
  justify-content: space-between;
  gap: auto;
  flex-wrap: wrap;
}

.card_texto {
  padding: 32px;
  text-align: center;
}

.card_texto h2 {
  color: #003d34;
  font-size: 48px;
  font-weight: 800;
}

.card_texto p {
  font-size: 32px;
  font-weight: 600;
}

.rodape {
  background-color: #003d34;
  height: 360px;
  width: 100%;
  text-align: center;
  padding: 64px 80px 64px 128px;
}

.rodape img {
  margin: 0 auto;
  width: 347px;
}

.rodape h3 {
  margin: 8px;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.rodape hr {
  margin: 32px;
}

/*Responsivo para celular*/
@media only screen and (max-width: 480px) {
  header {
    display: block;
    padding: 24px 32px;
  }

  .card_texto h2 {
    font-size: 32px;
  }

  .card_texto {
    width: 100%;
  }

  #imagem_mck {
    width: 100%;
    object-fit: cover;
  }

  .card_texto p {
    font-size: 24px;
  }

  nav {
    display: block;
  }
  .fav_logo {
    height: 32px;
    margin: 0 auto;
  }
  .nav_links {
    margin-top: 32px;
    font-size: 24px;
    width: 100%;
    display: block;
  }

  .nav_links li {
    margin-bottom: 8px;
  }

  .card {
    display: block;
  }

  .button {
    margin-top: 32px;
    font-size: 24px;
  }
}
